* {
    box-sizing: border-box;
}

@font-face {
	font-family: Montserrat;
	src: url(fonts/montserrat.ttf);
}
@font-face {
	font-family: Poppins;
	src: url(fonts/poppins.ttf);
}

html {
    font-size: 20px;
    background-color: var(--primary);
    user-select: none;
}

h1, h2, label, b {
    margin: 0;
    font-family: 'Poppins', 'Montserrat', Helvetica, Arial;
    color: var(--text_color);
}

h2, h3, p, button, b, input, span, a, select {
    font-family: 'Montserrat', Helvetica, Arial;
    color: var(--text_color);
}

:root {
    --text_color: white;
    --primary: #101638;
    --secondary: #141C48;
    --secondary-hover: #1d2654;
    --accent: #ff0c58;
    --border: .9em;
}

:focus {
    outline: 0;
}

:focus-visible {
    outline: 0.1px solid var(--accent);
    outline-offset: .2rem;
}

body {
	margin: 0;
    min-height: 100vh;
	display: flex;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &.column {
        & li:not(:last-child) {
            margin: 0 .25em 0 0;
        }
        & li {
            display: inline-block;
        }
    }
}

.icon, img[class^=".search"] {
	fill: var(--text_color);
    margin: 0;
    pointer-events: none;
    width: 1.65em;
	height: 1.65em;
}

.hide {
    display: none !important;
}

a, button {
    padding: 0;
    text-decoration: none;

    &.link {
        color: var(--accent);
    }

    &.href:hover {
        text-decoration: underline;
    }

    cursor: pointer;
}

input, select {
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 1em;
    &.value {
        background-color: var(--secondary);
        border-radius: var(--border);
        margin-top: .5em;
        font-size: .8em;
        width: 100%;
    }
}

input[type="submit"] {
    cursor: pointer;
}

input[type="select"] {
	background-color: black;
}

select option {
	background-color: var(--primary);
}

label {
    font-size: .9em;
}

button {
    background: transparent;
    outline: 0;
    border: 0;
    font-size: 1em;
    &.checkbox {
        padding: .28em;
        border: 2px solid var(--text_color);
        border-radius: var(--border);
        &.checked {
            background-color: var(--accent);
        }
    }
}

.nav {
    &__wrapper {
        position: fixed;
        width: 100vw;
        top: 0;
        padding: 1.2em .5em;
        z-index: 99;
        animation: pop-in-top 500ms ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.search {
    &__container {
        display: flex;
		max-width: 80em;
		width: 100%;
		margin: auto;
		align-items: center;
		justify-content: center;
		& > * {
			flex: 1;
		}
    }
    &__title {
        margin: 0 0 1.5em 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    &__logo {
        margin-left: .8em;
        animation: nyan-in 1000ms ease-in-out;
    }
    &__side {
        animation: search-in 600ms ease-in-out;
        position: absolute;
        right: 0;
        top: .25em;
        margin-right: .7em;
    }
    &__bar {
		max-width: 40em;
		width: 100%;
        & .form {
            position: relative;
            animation: input-in 300ms ease-in-out;
        }
    }
    &__input {
        background-color: var(--secondary);
        border-radius: var(--border);
        padding: .5em;
        margin: 0 auto;
		width: 100%;
    }
}

.shortcut {
    border-radius: var(--border);
    padding: 1.5em;

	text-align: center;

	&__section {
		flex: 1;
	}
	&__section:not(:first-child) {
		margin-top: 2em;
	}
 
    &__items {
        animation: pop-in-bottom 400ms ease-in-out;
		display: block;

        li {
            margin: .8em;
			min-width: 15em;
			height: 8em;
			display: inline-block;
        }

        a {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--secondary);
            border-radius: var(--border);

			svg, path:not([fill="url(#a)"]) {
				fill: var(--accent) !important;
				width: 3.5em;
				// lmao, ain't bothering with this
				// honestly this css is a mess but I am as well :)
				&.yellow {
					fill: yellow !important;
					& *:not([fill="none"]) {
						fill: yellow !important;
					}
				}
			}

			width: 100%;
			height: 100%;
            padding: 1em;

            &:hover, &:focus {
				background-color: var(--secondary-hover);
                & > span {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }

        span {
            visibility: hidden;
            position: absolute;
            top: -10%;
            background-color: var(--accent);
            transform: scale(.9);
            padding: .3em .6em;
            border-radius: var(--border);
            pointer-events: none;
            opacity: 0;
            transition: all 200ms ease-in-out;
        }
    }
}

.settings {
    &__wrapper {
        position: relative;
        z-index: 0;
    }
    &__dropdown {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + 1em));
        width: 13em;
        padding: 1em;
        background-color: var(--secondary);
        border-radius: var(--border);
        animation: fade-in 180ms ease-in;
        &.animate {
            animation: fade-out 180ms ease-out;
        }
        & div {
            &.checkbox {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
        & div:not(:first-child) {
            margin-top: .25em;
        }
        z-index: 99;
    }

    &__button {
        display: flex;
        align-items: center;
        position: relative;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
        transform: rotate(180deg) scale(0.9);
        opacity: .8;
        &.toggled {
            transform: rotate(0) scale(0.9);
            opacity: 1;
        }
        cursor: pointer
    }
}

.fade {
    &-in {
        animation: fade-in 220ms ease-in;
    }
    &-out {
        animation: fade-out 220ms ease-out;
    }
}

@keyframes pop-in-bottom {
    from {
        transform: translateY(2em) scale(.8);
        opacity: .5;
    }
}

@keyframes pop-in-top {
    from {
        transform: translateY(-2em) scale(.8);
        opacity: .5;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes search-in {
    from {
        top: 50%;
        transform: translate(1.5em, -50%) scale(.5);
        opacity: .1;
    }
}

@keyframes nyan-in {
    from {
        transform: rotateY(360deg) translateY(.3em);
        opacity: .4;
    }
}

@keyframes input-in {
    from {
        transform: scaleX(0.5);
    }
}

// Mobile is not that important which is why it comes last
@media (max-width: 1450px) {
	html {
		font-size: 1em;
	}
	body {
		padding: .5em;
	}

	.search {
		&__container { 
			margin: 5em auto;
			flex-direction: column;
		}
		&__bar {
			max-width: 50em;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}


	.settings {
        &__dropdown {
            transform: translate(-70%, calc(100% + 1em));
        }
    }
}

@media (max-width: 700px) {
	html {
		font-size: .8em;
	}
	.shortcut {
		padding: 0;
		margin-top: 5em;
		&__items {
			li {
				min-width: 9em;
			}
		} 
	}
}

// scroll
::-webkit-scrollbar {
    display: block;
    overflow: auto;
    height: .7em;
    width: .5em;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: var(--border);
}
