<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="a search engine wrapper with a custom skin!" />
	<link rel="shortcut icon"
		href="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-yVgNlYD_lXY%2FTgF_TH-OFUI%2FAAAAAAAAC_o%2FKUr5UQtVKLw%2Fs1600%2Fnyan-cat-animated.gif&f=1&nofb=1"
		type="image/x-icon">
	<link rel="stylesheet" href="./search.css">
	<title>slooshy search</title>
</head>

<body>
	<style id="theme">

	</style>
    {% block content %} {% endblock %}	
</body>

</html>
